/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Header.css */

h1 {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 0;
}

/* UserManagement.css */

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #45a049;
}

/* AccountCreationFields.css */

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

/* Add more specific styling for your input fields as needed */
